.flex {
  zoom: 255%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 0;
  padding-top: 11px;
  position: relative;
  top: -23.5px;
}

/* Floats on top of all other elements */
.zIndex {
  z-index: 500;
}

.background {
  height: 50px;
  width: 100%;
  background: rgb(248, 248, 248);
  border-top: 0.1px solid rgb(205, 205, 205);
}

.back {
  width: 0;
  height: 0;
  border-top: 2.2px solid transparent;
  border-bottom: 2.2px solid transparent;
  border-right: 3.5px solid rgb(40, 40, 40);
}

.bLine {
  height: 4.5px;
  width: 0.98px;
  background-color: rgb(40, 40, 40);
  margin-right: -0.2px;
}

.pauseBar {
  height: 4.5px;
  width: 1.5px;
  background-color: rgb(40, 40, 40);
}

.pauseSpace {
  height: 4.5px;
  width: 1.5px;
}

.pauseBox {
  margin: 0.1px -0.3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.space {
  width: 11px
}

.forward {
  width: 0;
  height: 0;
  border-top: 2.2px solid transparent;
  border-bottom: 2.2px solid transparent;
  border-left: 3.5px solid rgb(40, 40, 40);
}

.play {
  composes: forward;
  border-top: 2.4px solid transparent;
  border-bottom: 2.4px solid transparent;
  border-left: 3.8px solid rgb(40, 40, 40);
}

.fLine {
  height: 4.5px;
  width: 0.98px;
  background-color: rgb(40, 40, 40);
  margin-left: -0.1px;
}

.shuffle {
  position: relative;
  top: -33.5px;
  zoom: 22%;
}

.loop {
  position: relative;
  top: -75.5px;
  zoom: 9.5%;
}