.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -0.2px;
}

.font {
  font-family: sans-serif;
  font-size: 38%;
  font-weight: 520;
  margin: -0.1px;
  margin-top: -0.4px;
  color: rgb(86, 86, 86);
}

.endTime {
  composes: font;
}

.orange {
  composes: font;
  color: rgb(255, 102, 0);
}

.space {
  width: 10px
}

.spaceSmall {
  width: 4px
}

.songPosition {
  position: absolute;
  opacity: 0;
  top: 12.1px;
  height: 3.7px;
  width: 3.7px;
  border-radius: 50%;
  background: rgb(255, 102, 0);
}

.orangeBar {
  position: relative;
  top: -15.4px;
  left: 2.1px;
  height: 0.3px;
  background: rgb(255, 102, 0);
}

.range {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  outline: none;
  position: relative;
  height: 0.3px;
  background: rgb(200, 200, 200);
  top: -11px;
  width: 175px;
}

.range::-webkit-slider-thumb {
  opacity: 0;
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  height: 3.7px;
  width: 3.7px;
  border-radius: 50%;
  background: rgb(255, 102, 0);
  cursor: pointer; /* Cursor on hover */
}

.range::-moz-range-thumb {
  opacity: 0;
  height: 3.7px;
  width: 3.7px;
  border-radius: 50%;
  background: rgb(255, 102, 0);
  cursor: pointer; /* Cursor on hover */
}

.hover:hover > .range::-webkit-slider-thumb {
  opacity: 1;
  transition: all 100ms ease-in-out;
}
.hover:hover > .range::-moz-range-thumb {
  opacity: 1;
  transition: all 100ms ease-in-out;
}


/* .beneathBar {
  position: relative;
  top: 2.6px;
  height: 0.3px;
  background: rgb(200, 200, 200);
  width: 175px;
} */

/* .orangeBar {
  composes: beneathBar;
  top: 2.3px;
  background: rgb(255, 102, 0);
} */

/* .whiteBar {
  composes: beneathBar;
  position: absolute;
  top: 10.4px;
  background: rgb(248, 248, 248);
  height: 1px;
} */